// Bootstrap Variables
$icon-font-path: "../../node_modules/bootstrap-sass/assets/fonts/bootstrap/"; // Import Bootstrap
@import "../../node_modules/bootstrap/scss/bootstrap";
@import "../../node_modules/font-awesome/scss/font-awesome";
$color-ui-panel: #1f232a;
$color-ui-panel-dark: #15191c;
$color-ui-panel-light: #2a3137;
$color-ui-border: #364347;
$color-input-bg: #15191c;
$persian-green: rgb(0, 161, 140);
$color-swatch-border: #fff;
$color-text: #8b949a;
$spacer: 10px;
$map-height: 200px;
$input-height: 40px;
$swatch-width: 32px;
$swatch-space: 4px;
$swatches-width: (6*$swatch-width) + (5*$swatch-space);
$map-width: $swatches-width;
$eyedropper-width: $swatch-width*2 + $swatch-space;
$window-width: $swatches-width + $eyedropper-width + $spacer*3;
$spectrum-cursor-width: 30px;
$font-main: "Muli", "sans-serif";

html,
body {
  min-height: 100%;
}

body {
	background: $color-ui-panel;
	font-family: $font-main;
	color: $color-text;
	letter-spacing: 0.05em;
	transition: background 0.5s ease;
}

#colors-list {
	z-index: 999;
	height: 20vh;
	padding: 5px;
	background-color: $color-ui-border;

	h1 {
		font-family: "Permanent Marker";
	}

	h1,
	h5 {
		color: white;
	}
}

.named-color-block {
	align-items: baseline;
	padding-top: $spacer;
	padding-left: $spacer / 2;
	padding-right: $spacer / 2;
	justify-content: center;
	height: 100%;
	text-align: center;
	font-weight: bold;
	color: white;
	text-transform: uppercase;

	.hex-span {
		display: block;
		position: absolute;
		bottom: 0;
		opacity: 0.7;
	}
}

#export-button-group {
	z-index: 999;
	position: absolute;
	right: 0;

	#export-button {
		cursor: pointer;
		background-color: $persian-green;
		border-radius: 0;
		border: none;
		display: inline-block;
		color: white;
		font-weight: bold;
		text-transform: uppercase;

		&:disabled {
			background-color: $color-ui-panel-light;
			cursor: not-allowed;
		}
	}

	.dropdown-menu {
		right: 0;
		float: right;
		left: auto;

		li {
				padding-left: 15px;
				cursor: pointer;

					&:hover {
						background-color: rgba($color-text, .5);
					}
		}

		.export-buttons {
			color: $color-ui-panel;

			&:hover {
				text-decoration: none;
			}
		}
	}
}

.color-cursor {
	border-radius: 100%;
	background: #ccc;
	box-sizing: border-box;
	position: absolute;
	pointer-events: none;
	z-index: 2;
	border: 2px solid $color-swatch-border;
	transition: all 0.2s ease;

	&.dragging {
		transition: none;
	}

	&#spectrum-cursor {
		width: $spectrum-cursor-width;
		height: $spectrum-cursor-width;
		margin-left: - $spectrum-cursor-width/2;
		margin-top: - $spectrum-cursor-width/2;
		top: 50%;
		left: 50%;
	}
}

.spectrum-map {
	position: relative;
	width: 100%;
	height: 70vh;
}

#spectrum-canvas {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background: #ccc;
}

.button {
	background: $color-ui-panel-light;
	border: 0;
	border-radius: 4px;
	color: $color-text;
	font-size: 1rem;
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
	outline: none;
	cursor: pointer;
	padding: 4px;

	&:active {
		background: darken($color-ui-panel-light, 2%);
	}

	&.eyedropper {
		position: absolute;
		right: 0;
		top: 0;
		width: $eyedropper-width;
		height: $eyedropper-width;
		display: block;
	}
}

#user-inputs-container {
	position: relative;
	height: 10vh;
	bottom: 0;
	width: 100%;

	.user-input-label-containers {
		margin-right: 10px;
		margin-left: 10px;
		text-align: center;
	}

	.user-input-labels {
		line-height: $input-height;
	}

	.user-input-fields,
	.user-input-label-containers,
	.user-input-labels {
		height: $input-height;
	}

	.user-input-fields {
		padding: 0.2rem;
		text-align: center;
	}

	#name {
		color: white;
		font-weight: bold;
		text-transform: uppercase;
	}
}

input::-webkit-inner-spin-button,
input::-webkit-outer-spin-button {
	/* display: none; <- Crashes Chrome on hover */
	-webkit-appearance: none;
	margin: 0;
	/* <-- Apparently some margin are still there even though it's hidden */
}
@include media-breakpoint-down(lg) {
	.user-input-columns {
		margin-bottom: 10px;
	}
}

@include media-breakpoint-down(md) {
	#user-inputs-container {
		position: relative;
		background-color: $color-ui-panel;
		padding-right: 10px;
		padding-bottom: 10px;
		height: auto;

		.user-input-columns {
			margin-bottom: 10px;
		}

		.user-input-label-containers {
			margin-left: 0;
			margin-right: 0;
			text-align: left;
			padding-left: 10px;
		}
	}
}

@include media-breakpoint-down(sm) {
	#analogic-scheme-option,
	#tetrade-scheme-option,
	#triade-scheme-option {
		display: none;
	}
}
